@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('background.webp');
   
}
h1{
    font-size: 50px;
    margin-top: 90px;
}

#text{
    align-items: center;
    display: flex;
    margin-top: 50px;
    font-size: 26px;
}

.details{
    margin-left: 25px;
}

@media (max-width: 756px) {
    h1 {
        font-size: 40px;
        
    }

    #text {
       
        margin-top: 40px;
        font-size: 24px;
    }

    
}

@media (max-width: 480px){

    h1 {
        font-size: 40px;
        width: 100%;
        justify-content: center;
        
    }

    #text {
       
        margin-top: 35px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
}
